.movieContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 34px;

    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 32px; */
}